
.mc {
    background-color: #ffe600;
}

.logo {
    width: 10rem;
}

.contenedoritem{
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
}

.title-item-screen{
    font-size:30px;
}


.item-lista{
    background-color: #f7f6f4;
}


.incorrecto {
    text-decoration:line-through;
    color: rgb(145, 144, 144);
    font-size:20px;
    margin: 0px;
    padding: 0px;
}

.precio-item-screen {
    font-size:30px;
    display:inline;
    margin-right: 20px;
}

.discount{
    display:inline;
    color: rgb(44, 133, 34);
}

span{
    color: #2d3277;
}

.barra-busqueda {
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display:flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2d3277;
    color: #2d3277;
    cursor:pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #2d3277;
}

.paginationActive a {
    color: white;
    background-color: #2d3277;
}

.paginator {
    width: 60%;
    max-width: 1000px;
    margin: 20px auto;
    position: absolute;
    left: 25%;
}

.contenedor-busqueda {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}
